version: 2.1
executors:
  node:
    docker:
      - image: circleci/node:10
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
jobs:
  build:
    executor: node
    steps:
      - checkout
      - run: npm install
  test:
    executor: node
    steps:
      - checkout
      - run: npm run test
  publich:
    executor: node
    steps:
      - checkout
      - run: npm run publish
